:root {
  --color-bg: #00abe1;
  --color-secondary: #161f6d;
  --color-secondary-hover: #161f6d;
  --color-font: #161f6d;
  --color-font-secondary: #ffffff;
  --color-error: #161f6d;
  --color-success: #161f6d;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Robot Mono', monospace;
}

body {
  background: var(--color-bg);
}

.title {
  text-align: center;
  color: var(--color-font);
  margin: 10vh auto 0 auto;
}

.title h1 {
  font-size: 80px;
  margin-bottom: 2vh;
}

.title h2 {
  font-size: 25px;
  margin-bottom: 2vh;
}

.word-form-wrapper {
  margin: 0 20px 0 20px;
}

.word-form {
  max-width: 1100px;
  margin: 10vh auto 0vh auto;
}

.word-inputs {
  display: flex;
  text-align: center;
}

.word-input {
  color: var(--color-font);
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 3px solid var(--color-secondary);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.word-input:focus {
  border: 3px dashed var(--color-secondary-hover);
}

.word-inputs p {
  color: var(--color-font);
  padding: 13px;
  font-size: 20px;
}

.button {
  width: 30%;
  height: 100%;
  background: var(--color-secondary);
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: var(--color-font-secondary);
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all 0.3s;
  margin: 10px;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 700;
}

.button:hover {
  background: var(--color-secondary-hover);
}

.form-errors {
  background: var(--color-error);
  border-radius: 5px;
  text-align: center;
  margin-top: 15px;
  padding: 10px;
}

.form-errors h4 {
  color: var(--color-font-secondary);
  margin-bottom: 5px;
}

.error {
  color: var(--color-font);
  text-align: center;
  margin-top: 250px;
}

.error h1 {
  font-size: 100px;
}

.error h2 {
  font-size: 50px;
}

footer {
  color: var(--color-font);
  font-weight: bold;
  text-align: center;
  margin: 40vh 0 5vh 0;
}

@media all and (max-width: 800px) {
  .title {
    margin-top: 5vh;
  }
  .title h1 {
    font-size: 60px;
  }
  .title h2 {
    font-size: 15px;
  }
  .word-form {
    margin-top: 20px;
    max-width: 90%;
  }
  .word-inputs {
    display: block;
  }
  .word-input {
    margin-bottom: 0px;
    max-width: 70%;
  }
  .word-inputs p {
    padding: 5px;
  }
  .form-errors {
    margin-top: 20px;
  }
  footer {
    margin-top: 20vh;
  }
}